<html>
  <head>
    <title>CodeAcademy </title>
  </head>

<body>
      <div class="row" style="margin-left: 10px">
        <div class="col-6" style="background-color: lightyellow" >
          <form class="form-group" action='sumar' method='post'>
            <div class="form"> 
              Valor A:<br>
              <input type="number" name="@valor_a"><br>
              Valor B:<br>
              <input type="number" name="@valor_b">
              <button type='Sumar' class='btn btn-primary'>Sumar</button>
            </div>
          </form>
        </div>
        <div class="col-6" style="background-color: lightgreen">
          <form class="form-group" action='restar' method='post'>
            <div class="form"> 
              Valor A:<br>
              <input type="number" name="@valor_a"><br>
              Valor B:<br>
              <input type="number" name="@valor_b">
              <button type='Restar' class='btn btn-primary'>Restar</button>
            </div>
          </form>
        </div>
      </div>

      <div class="row" style="margin-left: 10px">

        <div class="col-6" style="background-color: lightblue">
          <form class="form-group" action='suma1' method='post'>
            <div class="form"> 
              Valor A:<br>
              <input type="number" name="@valor_a">
              <button type='Sumar1' class='btn btn-primary'>Sumar 1</button>
            </div>
          </form>
        </div>
        <div class="col-6" style="background-color: lightpink">
          <form class="form-group" action='resta1' method='post'>
            <div class="form"> 
              Valor A:<br>
              <input type="number" name="@valor_a">
              <button type='Resta1' class='btn btn-primary'>Restar 1</button>
            </div>
          </form>
        </div>

      </div>
</body>
</html>