<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Matematicas simples</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="row">
      <div class="span6" style="float: none; margin: 0 auto;">
        <h2><%= @title %></h2>        
      </div>
    </div>
    <%= yield %>
  </body>
</html>