<html>
  <head>
    <title>CodeAcademy </title>
  </head>

<body>
  <div class="row" style="margin-top: 10px">
    	<div class="col text-center">
        <h2>Resultado</h2>
    	</div>
  </div>
  
	<div class="row" style="margin-top: 10px ; background-color: lightblue">
      <div class="col text-center">
        <p>Resultado: <%= @resultado %></p>
      </div>
  </div>
</body>
</html>